:root {
  --earth-light: #74a84a;
  --earth-dark: #2c541d;
}

.tracking-025 {
  letter-spacing: 0.25rem;
}

.tracking-050 {
  letter-spacing: 0.5rem;
}

.tracking-100 {
  letter-spacing: 1rem;
}

.home-hero-bg {
  background-image: url("../assets/banner.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.home-hero-section {
  padding-top: 350px;
  padding-bottom: 350px;
}

.text-earth-dark {
  color: var(--earth-dark);
}

.link-earth-dark {
  color: black;
}

.link-earth-dark:hover {
  color: var(--earth-dark);
}

.btn-earth-bg {
  background-color: var(--earth-light);
}

.btn-earth-bg:hover {
  background-color: var(--earth-dark);
}

.home-card {
  width: 430px;
}

.home-section-gapping {
  width: 75%;

  padding-top: 100px;
  padding-bottom: 100px;
}

.home-4th-bg {
  background-image: url("../assets/call-to-action.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  padding-top: 160px;
  padding-bottom: 160px;
}

.footer-section-gapping {
  width: 75%;

  padding-top: 35px;
  padding-bottom: 35px;
}
